@mixin quiz-animate-default() {
  animation-duration: var(--animation-time);
  animation-timing-function: ease-in-out;
}

.quiz {
  text-align: center;
  &__answers {
    justify-content: center;
  }
  &-animate-out {
    @include quiz-animate-default();
    animation-name: animate-out;
    &.--reverse {
      animation-name: animate-out-reverse;
    }
  }
  
  &-animate-in {
    @include quiz-animate-default();
    animation-name: animate-in;
    &.--reverse {
      animation-name: animate-in-reverse;
    }
  }
}

@keyframes animate-out {
  from {
    transform: translate(0%, 0%);
  }
  to {
    transform: translate(-100%, 0%);
  }
}

@keyframes animate-in {
  from {
    transform: translate(100%, 0%);
  }
  to {
    transform: translate(0%, 0%);
  }
}

@keyframes animate-out-reverse {
  from {
    transform: translate(0%, 0%);
  }
  to {
    transform: translate(100%, 0%);
  }
}

@keyframes animate-in-reverse {
  from {
    transform: translate(-100%, 0%);
  }
  to {
    transform: translate(0%, 0%);
  }
}
